<div class="row">
  <div class="col-sm-12 text-right">
    <a class="btn btn-success" routerLink='new'>Novo produto</a>
  </div>
</div>
<br/>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th>Valor</th>
      <th>Situação</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list">
      <td>{{item.codigo}}</td>
      <td>{{item.descricao}}</td>
      <td>{{item.quantidade}}</td>
      <td>{{item.valor | currency:''}}</td>
      <td>
        <span class="label label-success" *ngIf="!item.inativo">Ativo</span>
        <span class="label label-danger" *ngIf="item.inativo">Inativo</span>
      </td>
      <td><a class="btn btn-primary" routerLink="edit/{{item.codigo}}">Editar</a></td>
    </tr>
  </tbody>
</table>
