<div class="page-header">
  <h1>Editar produto</h1>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <mat-form-field appearance="outline" floatLabel="always" class="col-sm-12">
      <mat-label>Descrição</mat-label>
      <input type="text" formControlName="descricao" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always" class="col-sm-4">
      <mat-label>Quantidade</mat-label>
      <input type="number" formControlName="quantidade" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always" class="col-sm-4">
      <mat-label>Valor</mat-label>
      <input type="number" formControlName="valor" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always" class="col-sm-4">
      <mat-label>Situação</mat-label>
      <mat-select formControlName="inativo">
        <mat-option [value]="false">Ativo</mat-option>
        <mat-option [value]="true">Inativo</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary" type="submit">Salvar</button>
      &nbsp;
      <a class="btn btn-default" routerLink='/'>Sair</a>
    </div>
  </div>
</form>
